$animationSpeed: 40s;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.main-div {
  height: 100%;
  .header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 98%;
    z-index: 99;
    .logo-placeholder {
      > a {
        text-decoration: none;
        cursor: pointer;
      }
      > img {
        width: 115px;
        height: 52px;
      }
    }
    .right-placeholder {
      .button-styles {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        width: 130px;
        height: 42px;
        text-align: center;
        background: linear-gradient(
          90deg,
          #61ffd5 3.13%,
          #3fb5ff 38.24%,
          #ffe27d 68.01%,
          #ffb543 98.28%
        );
        border-radius: 100px;
        text-transform: capitalize;
      }
    }
  }
  .top-wrapper {
    background: url("../Assets/Images/background-overlay-top.jpg") no-repeat;
    height: 100%;
    background-size: cover;
    margin-left: -10px;
    margin-top: 170px;
    position: relative;
    z-index: -1;

    &::before {
      content: "";
      position: absolute;
      background: radial-gradient(
        30.8% 30.8% at 57.79% 54.71%,
        rgba(20, 34, 151, 0.8) 0%,
        rgba(56, 35, 131, 0.8) 48.71%,
        rgba(69, 40, 150, 0.8) 78.16%,
        rgba(20, 34, 151, 0.8) 100%
      );
      filter: blur(75px);
      top: 0;
      right: 0;
      height: 554px;
      width: 300px;
    }
    &::after {
      content: "";
      position: absolute;
      background: radial-gradient(
        30.8% 30.8% at 57.79% 54.71%,
        rgba(43, 24, 103, 0.4) 0%,
        rgba(56, 35, 131, 0.4) 48.71%,
        rgba(69, 40, 150, 0.4) 78.16%,
        rgba(20, 34, 151, 0.4) 100%
      );
      filter: blur(75px);
      bottom: 0;
      left: 0;
      height: 400px;
      width: 300px;
      z-index: 1;
    }

    .body-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin-top: -200px;

      font-family: "PT Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 128px;
      line-height: 150px;
      > span {
        background: linear-gradient(
          90deg,
          #61ffd5 3.13%,
          #3fb5ff 38.24%,
          #ffe27d 68.01%,
          #ffb543 98.28%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        &:nth-child(2) {
          background: linear-gradient(
            90deg,
            #ffe27d 3.13%,
            #ffb543 31.38%,
            #61ffd5 74.27%,
            #3fb5ff 99.14%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
        &:nth-child(3) {
          background: linear-gradient(
            90deg,
            #61ffd5 3.13%,
            #3fb5ff 38.24%,
            #ffe27d 68.01%,
            #ffb543 98.28%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
    }
  }
  .bottom-wrapper {
    //height: 100%;
    background: url("../Assets/Images/background-overlay-bottom.jpg");
    background-size: cover;
    margin-left: -10px;
    // margin-top: 170px;
    position: relative;
    z-index: -1;
    .bottom-header,
    .about-bottom-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: "PT Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 60px;
      color: #ffffff;
      padding-top: 131px;
      overflow: hidden;
      // .carousel-styles {
      //     display: flex;
      //     width: 100%;
      //     // > div {
      //     //     width: 209px;
      //     //     height: 70px;
      //     //     background: #FFFFFF;
      //     //     border-radius: 4px;
      //     // }
      // }

      .image-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 99;
        max-width: auto;
        transition: opacity 0.5s ease-in-out;
        animation: scroll $animationSpeed linear infinite;
        margin: auto;

        .image-wrapper-styles {
          display: flex;
          position: relative;
          margin: 23px;

          .image-wrapper-dummy-element {
            display: flex;
            align-items: center;
            flex-direction: column;
            background: #ffffff;
            justify-content: center;
            width: 209px;
            height: 70px;
            border-radius: 4px;
            > img {
              height: 100%;
              object-fit: contain;
              width: 50%;
            }

            &::before {
              position: absolute;
              bottom: -4px;
              content: "";
              width: 204px;
              height: 6px;
              background: linear-gradient(
                90deg,
                #ffe27d 3.13%,
                #ffb543 31.38%,
                #61ffd5 74.27%,
                #3fb5ff 99.14%
              );
              border-radius: 4px;
              z-index: -1;
            }
          }
        }
      }

      .image-wrapper::-webkit-scrollbar {
        -webkit-appearance: none;
      }
    }
    .about-bottom-header {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 11;

      &::before {
        border-radius: 50%;
        position: absolute;
        margin: 0 auto;
        top: 0;
        left: 0;
        right: 0;
        height: 354px;
        width: 600px;
        background: radial-gradient(
          30.8% 30.8% at 57.79% 54.71%,
          rgba(20, 34, 151, 0.8) 0%,
          rgba(56, 35, 131, 0.8) 48.71%,
          rgba(69, 40, 150, 0.8) 78.16%,
          rgba(20, 34, 151, 0.8) 100%
        );
        filter: blur(75px);
        content: "";
        z-index: -1;
      }

      .card-content-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;

        .card-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 46px;
          cursor: pointer;
          box-sizing: border-box;
          width: 562px;
          height: 314px;
          background: linear-gradient(
            153.32deg,
            rgba(255, 255, 255, 0.3) -65.62%,
            rgba(255, 255, 255, 0.1) 83.28%
          );
          backdrop-filter: blur(25px);
          border-radius: 50px;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin: -3px;
            border-radius: inherit;
            opacity: 0.1;
            background: linear-gradient(
                153.32deg,
                rgba(255, 255, 255, 0.3) -65.62%,
                rgba(255, 255, 255, 0.1) 83.28%
              ),
              linear-gradient(
                142.08deg,
                rgba(255, 255, 255, 0.7) -5.03%,
                rgba(224, 224, 224, 0.85) 21.3%,
                rgba(101, 84, 169, 0.2) 49.04%,
                rgba(218, 218, 218, 0.5) 70.19%
              );
          }

          .card-content {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 100%;

            .content-header {
              display: flex;
              justify-content: center;
              font-family: "PT Sans";
              font-style: normal;
              font-weight: 700;
              font-size: 32px;
              // line-height: 34px;
              text-align: center;
              letter-spacing: -0.03em;
              background: linear-gradient(
                90deg,
                #ffe27d 3.13%,
                #ffb543 31.38%,
                #61ffd5 74.27%,
                #3fb5ff 99.14%
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              text-fill-color: transparent;
            }
            .content-body {
              display: flex;

              font-family: "PT Sans";
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 30px;
              text-align: center;
              color: #e4e4e4;
              padding-right: 46px;
              padding-left: 46px;
            }
          }
        }
      }
    }
    .footer-bar {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .bottom-logo-placeholder {
        > img {
          width: 115px;
          height: 52px;
        }
      }
      .footer-menu-selections {
        display: flex;
        > span {
          padding: 20px;
          font-family: "Manrope";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          font-feature-settings: "liga" off;
          color: #ffffff;
          > a {
            color: inherit;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
      .copyrights {
        display: flex;
        font-family: "Manrope";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        font-feature-settings: "liga" off;
        color: #d9dbe1;
        margin-bottom: 40px;
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  .main-div {
    .header-wrapper {
      .logo-placeholder {
      }
      .right-placeholder {
        .button-styles {
          margin-right: 20px;
        }
      }
    }
    .top-wrapper {
      &::before {
        content: "";
        position: absolute;
        background: radial-gradient(
          30.8% 30.8% at 57.79% 54.71%,
          rgba(20, 34, 151, 0.8) 0%,
          rgba(56, 35, 131, 0.8) 48.71%,
          rgba(69, 40, 150, 0.8) 78.16%,
          rgba(20, 34, 151, 0.8) 100%
        );
        filter: blur(75px);
        top: 0;
        right: 0;
        height: 204px;
      }
      &::after {
        content: "";
        position: absolute;
        background: radial-gradient(
          30.8% 30.8% at 57.79% 54.71%,
          rgba(43, 24, 103, 0.4) 0%,
          rgba(56, 35, 131, 0.4) 48.71%,
          rgba(69, 40, 150, 0.4) 78.16%,
          rgba(20, 34, 151, 0.4) 100%
        );
        filter: blur(75px);
        bottom: 0;
        left: 0;
        height: 200px;
        //width: calc(100%) !important;
        //z-index: 1;
      }
      .body-wrapper {
        width: calc(100%) !important;
        font-style: normal;
        font-size: 40px;
        //line-height: 150px;
      }
    }
    .body-wrapper {
      .bottom-header,
      .about-bottom-header {
        .image-wrapper {
          .image-wrapper-styles {
            width: calc(100%) !important;
          }
        }
      }
      .about-bottom-header {
        &::before {
          border-radius: 50%;
          position: absolute;
          margin: 0 auto;
          top: 0;
          left: 0;
          right: 0;
          height: 154px;
          width: 100px;
          background: radial-gradient(
            30.8% 30.8% at 57.79% 54.71%,
            rgba(20, 34, 151, 0.8) 0%,
            rgba(56, 35, 131, 0.8) 48.71%,
            rgba(69, 40, 150, 0.8) 78.16%,
            rgba(20, 34, 151, 0.8) 100%
          );
          filter: blur(75px);
          content: "";
          z-index: -1;
        }

        .card-content-wrapper {
          .card-wrapper {
            //width: calc(100%) !important;
            &:before {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: -1;
              //margin: -3px;
              border-radius: inherit;
              opacity: 0.1;
              background: linear-gradient(
                  153.32deg,
                  rgba(255, 255, 255, 0.3) -65.62%,
                  rgba(255, 255, 255, 0.1) 83.28%
                ),
                linear-gradient(
                  142.08deg,
                  rgba(255, 255, 255, 0.7) -5.03%,
                  rgba(224, 224, 224, 0.85) 21.3%,
                  rgba(101, 84, 169, 0.2) 49.04%,
                  rgba(218, 218, 218, 0.5) 70.19%
                );
            }
          }
          .card-content {
            .content-header {
              font-size: 18px;
              width: calc(100%) !important;
            }
            .content-body {
              width: calc(100%) !important;
              font-size: 10px;
            }
          }
        }
      }
      .footer-bar {
        .bottom-logo-placeholder {
          width: calc(100%) !important;
        }
        .footer-menu-selections {
          width: calc(100%) !important;
        }
        .copyrights {
          width: calc(100%) !important;
        }
      }
    }
  }
}
